<!doctype html>
<head>
	<title>QuestScript</title>
	
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/questscript.css">
	<link rel="stylesheet" href="css/codemirror.css">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
	<script src="js/3p/coffee-script.js"></script>
	<script src="js/3p/codemirror/codemirror.js"></script>
	<script src="js/3p/codemirror/syntax/coffeescript.js"></script>

</head>

<body>
	<div id="container">

		<section id="gameboy">	
			<header>
				<span id="power"></span>
				<h1>QuestScript</h1>
			</header>
			<section id="gameboy-body">
				<canvas id="game"></canvas>

				<section id="controls">
					<div id="directions">
						<span class="pad-button" id="joystick"></span>
					</div>

					<div id="actions">
						<div class="pad-button" id="talk"></div>
					</div>
				</section>
			</section>
		</section>

		<section id="editor">
			<div class="left">
				<button id="save" value="Save">Save</button>
			</div>

			<div class="left middle">
				<textarea id="editor-form">
			hey 	
					
				</textarea>
			</div>

			<div class="right">
				<button id="run" name="code">Run</button>
			</div>
		</section>

		<br />
		<div id="by">
			<span>Built by <a href="www.twitter.com/revivek">@revivek</a> and <a href="www.twitter.com/dproi">@dproi</a></span>
		</div>
	</div>

	<script src="js/qs-load.js"></script>
	<script src="js/qs-editor.js"></script>
	<script src="js/qs.js"></script>
</body>

</html>
